.footerContainer {
   background: #030013;
  border-top: 1px solid var(--border-soft);
  color: white;
  margin: 0;
  padding: 50px 150px 30px 150px;
  box-sizing: border-box;
  display: grid;
  height: 300px;
  width: 100%;
  max-width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 2fr 50px;
  grid-template-areas:
    "logoP linkInteres"
    "containerRRSS derechosReserados";
  overflow: hidden;
  font-family: var(--font-geist-sans);
  font-size: clamp(10px, 2rem, 13px);
}

.logoP {
  grid-area: logoP;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.parrafo{
  padding-right: 30px;
}

.containerLinkInteres {
  display: flex;
  flex-direction: column;
  gap: 10px;
  grid-area: linkInteres;
}

.containerListLink {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.containerListLink>li{
  color: gray;
  transition: 0.5s ease;
}

.containerListLink>li:hover{
  color: white ;
}

.containerLogo {
  object-fit: contain;
  width: 200px;
  height: auto;
  filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.3));
  filter: brightness(0) invert(1);
}

.iconosRRSS {
  grid-area: containerRRSS;
  display: flex;
  align-items: end;
  gap: 15px;
}
.containerReservados {
  border-top: 1px solid #262626;
  grid-area: derechosReserados;
  display: flex;
  align-items: end;
  gap: 15px;
}

.linksFooter {
  text-decoration: underline;
}
.linkTrabajaInacap{
  display: flex;
}
.linkDeInteres{
  display: flex;
}

@media (width < 1128px) {
  .footerContainer {
    display: flex;
    flex-direction: column;
    height: 450px;
    gap: 15px;
  }
  .iconosRRSS {
    border-top: 1px solid #262626;
    padding-top: 10px;
    grid-area: containerRRSS;
    display: flex;
    align-items: end;
    gap: 25px;
  }
  .containerReservados {
    border-top: none;
    grid-area: derechosReserados;
    display: flex;
    align-items: end;
  }
}

@media (width < 768px) {
  .footerContainer {
    display: flex;
    flex-direction: column;
    padding: 35px;
    height: 530px;
    gap: 25px;
  }
  .iconosRRSS {
    border-top: 1px solid #262626;
    padding-top: 15px;
    grid-area: containerRRSS;
    display: flex;
    align-items: end;
  }
  .containerReservados {
    border-top: none;
    grid-area: derechosReserados;
    display: flex;
    align-items: end;
  }
}
