.clientContainer{
  height: 10vh; /* Ajusta este valor exacto a lo que mide tu área marcada */
  display: flex;
  align-items: center; /* Centra los logos verticalmente dentro de la franja */
  overflow: hidden;
  margin: 0;
  padding-bottom: 5px;
  background-color: black;
}

.logosClients{
  filter: grayscale(100%) brightness(15);
  opacity: 1; 
}

.miMarquee{
    mask-image: linear-gradient(
    to right,
    transparent,
    black 100%,
    black 100%,
    transparent
  );
  
  /* Compatibilidad con Webkit (Chrome, Safari, Edge) */
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 0%,
    black 100%,
    transparent
  );
}


/* @media (width < 768px) {
.miMarquee{
    mask-image: linear-gradient(
    to right,
    transparent,
    black 90%,
    black 10%,
    transparent
  );
  
    -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
}
} */