/* Estilos base: dimensiones, fuente, transición */
.btn {
  width: 14em;
  padding: 0.75rem 1.5rem; /* px-6 py-3 aprox */
  border-radius: 8px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent; /* Para evitar saltos de tamaño en el borde */
}

/* Variante Primaria (Sólido) */
.primary {
  background-color: #1e3b8ac4; /* Azul corporativo oscuro */
  color: white;
}

.primary:hover {
  background-color: #172554;
  /* transition: 800ms; */
}

/* Variante Secundaria (Outline / Borde) */
.secondary {
  background-color: rgba(153, 194, 255, 0);
  border-color: #ffffff94;
  color: #ffffff;
  /* backdrop-filter: blur(10px); */
  /* -webkit-backdrop-filter: blur(90px);  */
}

.secondary:hover {
  background-color: #eff6ff; /* Un azul muy clarito de fondo */
  color: #1e3b8a;
}

@media (width < 768px) {
  .btn {
    width: 14em;
    padding: 0.75rem 1.5rem; /* px-6 py-3 aprox */
    border-radius: 8px;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent; /* Para evitar saltos de tamaño en el borde */
  }

  .secondary{
    border: 1px solid white;
  }
}
