.heroSection {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  overflow: hidden;
  background: #00001a;
  
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 5;
}

.heroContent {
  position: relative;
  z-index: 10;
  text-align: center;
  color: white;
  filter: var(--drop-shadow-logo);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

.mainTitle {
  font-family: var(--font-geist-sans);
  font-weight: 800;
  font-size: 3.5rem;
  margin-bottom: 1rem;
  line-height: 1.2;
}

.subtitle {
  font-family: var(--font-geist-sans);
  font-weight: 300;
  font-size: 1.5rem;
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .mainTitle {
    font-size: 2.5rem;
  }

  .subtitle {
    font-size: 1.2rem;
  }

  .heroSection {
    height: 40vh;
  }
}
