.container {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #00001a, #0400206e);
  color: #fff;
}

.heroSection {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  overflow: hidden;
}

.heroImage {
  object-fit: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(37, 16, 112, 0.23) 85%,
    #000000 100%
  );
  z-index: 5;
}

.heroContent {
  position: relative;
  z-index: 10;
  text-align: center;
  color: white;
  filter: var(--drop-shadow-logo);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.mainTitle {
  font-family: var(--font-geist-sans);
  font-weight: 800;
  font-size: 3.2rem;
  margin-bottom: 0;
  line-height: 1.1;
}

@media (max-width: 768px) {
  .mainTitle {
    font-size: 2.2rem;
  }

  .heroSection {
    height: 50vh;
  }
}
